/*Ajusta los margenes y lados en todos los elementos de html*/
*{
    margin: 0;
    padding: 0;
}

/*Cuerpo*/
body {
    /*Tipo de letra o fuente*/
    font-family: 'Times New Roman', Times, serif;
    background-color: #68A7AD;
}

/*Uso general para ajustar los bordes de una el sitio web*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/*Regla para agregar una fuente de texto a nuestra hoja de estilo*/
    @font-face {
        /*Indicamos un nombre*/
        font-family: go;
        /*llamamos la fuente*/
        src: url(../Fuentes/TheyPerished.ttf);
        
        }
img {
    width: 100%;
}

  
/*titulo*/
h1 {
    text-align: center;
    font-family: go; 
    font-size: 60px;
    

    /*Efecto para el fondo degradado*/
    background: #00467F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/*Barra de navegacion */
.navegacion {
    background: #00467F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    
    
    
}

/*estilos de las etiquetas*/
.navegacion a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    

}

/*Efecto: cambia de color cuando pasas por el enlace*/
.navegacion a:hover {
    color: skyblue;
}






/*imagen de la tierra*/
.galax {
    justify-content: space-around;
    background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

display: flex;

}

.galax img{
    width: 100px;;
}

/*portada*/
header {

    width:100%;
    height: 800px;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253ea4, #3a6186), url(../Imagenes/tierraa.jpg);   
    background: linear-gradient(to right, #89253e38, #3a6186), url(../Imagenes/tierraa.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;

   
}

/*efecto de la portada*/
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wave1 {
    position: absolute;
    top: 0;
    width: 100%;


}

h2 {
    text-align: center;
}


/*presentacio*/

main{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 460px;
    display: flex;
    padding: 10px;;
    flex-direction: column;
    border-radius: 16px;
    margin: auto;
    
    
    
    
}
.column{
    display: flex;
    flex-direction: column;
}

main p{
    text-align:justify;
    
}
.titulo-pre {
    text-align: center;
}








/*pie de pagina*/

footer {
    text-align: center;
    padding: 1rem;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




.general{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/**/
.footer-1 {
   
   display: flex;
   justify-content: space-around;
   
}
.foo a{
    color: black;
    text-decoration: none;
    display: block;
}

.foo a:hover{
    color: skyblue;
}


@media (min-width: 500px){


    
   
}